SUPABASE_URL=https://your-supabase-project-id.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_KEY=your_supabase_service_key_here
JWT_SECRET=a_very_long_and_random_string_for_jwt_secret
JWT_EXPIRES_IN=10d
SUPABASE_AUDIO_BUCKET=session-audios
API_SECRET_KEY=Your_Secret_Secure_Key
PROCESSOR_API_URL=http://10.61.4.150:3001
MAX_AUDIO_DURATION_SECONDS=900